html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

nav {
  background-color: #272822;
  font-family: "Lobster", cursive;
  font-size: 30px; }
  nav a {
    padding: 10px;
    font-size: 24px; }

.container {
  width: 100%; }

.spanTop {
  color: white;
  font-family: "Lobster", cursive;
  font-size: 54px;
  padding-left: 5px;
  display: block;
  margin-bottom: 15px; }

.spanBottom {
  color: white;
  font-family: "Lobster", cursive;
  font-size: 54px;
  padding-left: 5px;
  margin-top: 15px; }

header {
  width: 100%;
  background-color: #999E9D;
  padding: 25px; }

footer {
  width: 100%;
  background-color: #272822;
  color: white;
  padding: 25px; }
