<div class="homeView" ui-view>

<div class="parallax-container">
  <div class="parallax"><img src="images/fleamarket.jpg"></div>
</div>

 <div class="worksection">
    <div class="row container">
      <h2 class>Work</h2>
      <div class="portfolio">
      <ul class="row">
        <li class="col s4"><a href="#"><div class="text"><h2>Qpic Game</h2><p>An image guessing game</p></div><div class="overlay"></div><img src="images/Qpic.png" width="400" height="300"></a></li>

        <li class="col s4"><a href="#"><div class="text"><h2>Blog Timeline</h2><p>A responsive blog timeline</p></div><div class="overlay"></div><img src="images/blogtimeline.png" width="auto" height="300"></a></li>

        <li class="col s4"><a href="#"><div class="text"><h2>To Do List</h2><p>A simple to do list organizer</p></div><div class="overlay"></div><img src="images/todolist.png" width="auto" height="300"></a></li>

        <li class="col s4"><a href="#"><div class="text"><h2>Etsy Clone</h2><p>A clone of an Etsy search results page</p></div><div class="overlay"></div><img src="images/etsyclone.png" width="400" height="300"></a></li>

        <li class="col s4"><a href="#"><div class="text"><h2>Contact List</h2><p>A contacts organizer</p></div><div class="overlay"></div><img src="images/contactlist.png" width="auto" height="300"></a></li>

        <li class="col s4"><a href="#"><div class="text"><h2>Website Clone</h2><p>A clone of Surf and Paddle Co website</p></div><div class="overlay"></div><img src="images/surfandpaddle.png" width="400" height="300"></a></li>



      </ul>
      </div>
    </div>
  </div> <!-- end of worksection div -->

  <div class="parallax-container">
    <div class="parallax"><img src="images/vans.jpg"></div>
  </div>

    <h2 class="skillsh2">Skills</h2>
<div class="skillssection">
  <div class="row container">
    <div class="thing-container">
      <div class="thing">
      <div class="foo"><img src="images/html-css-logo.png" width="200" height="200"></div>
      <div class="foo back"><ul><li>HTML</li><li>CSS</li><li>SASS</li><li>Materialize</li><li>Foundation</li><li>Bourbon/Neat</li></ul></div>
      </div>
    </div>

    <div class="thing-container">
      <div class="thing">
      <div class="foo"><img src="images/javascript.png" width="200" height="200" style="border-radius:5px"></div>
      <div class="foo back"><ul><li>Angular</li><li>Backbone</li><li>Underscore</li><li>Handlebars</li><li>jQuery</li><li>Javascript</li></ul></div>
      </div>
    </div>

    <div class="thing-container">
      <div class="thing">
      <div class="foo"><img src="images/git_logo.png" width="200" height="200"></div>
      <div class="foo back"><ul><li>Sublime Text</li><li>Git</li><li>Bower</li><li>Gulp</li><li>NPM</li></ul></div>
      </div>
    </div>

  </div>
</div>

  <div class="parallax-container">
    <div class="parallax"><img src="images/oregoncoast.jpg"></div>
  </div>


<div class="aboutsection">
  <div class="row container">
    <h2>About</h2>
    <div class="imageBorder"><img class="rosie" src="images/jamierosie.jpg" width="200" height="200" style="border-radius:50%" alt="rosie"></div>
    <div class="aboutInfo">
      <p>I have a can-do attitude! I enjoy a good challenge and get very excited about a beautiful, functional, meaningful product. When I'm not writing code, I also like to travel, read, go camping, dancing, sip on craft cocktails and spend time with my boyfriend and my two wild kids.</p>
      <img class="kids" src="images/jamiekids.jpg" width="200" height="200" style="border-radius:50%" alt="kids">
    </div>
  </div>
</div> <!--end of aboutsection div -->

<div class="parallax-container">
  <div class="parallax">
  <img class="newyorkImage" src="images/newyork.jpg"></div>

  <div class="contactText">
  <div class="email"><a href="mailto:jamiemgamblin@gmail.com">jamiemgamblin@gmail.com</a></div>
  <div class="github"><a href="https://github.com/JamieUdaho">github</a></div>
  <div class="linkedin"><a href="https://www.linkedin.com/pub/jamie-gamblin/5a/b7/189">linkedin</a></div>
  <div class="twitter"><a href="https://twitter.com/JamieGamblin">twitter</a></div>
  <div class="blog"><a href="https://medium.com/@jamiegamblin">blog</a></div>
  </div>
</div>

</div> <!-- end of homeView div -->











