<div class="homeView" ui-view>

<div class="parallax-container" id="homeID">
  <div class="parallax"><img class="fleamarket" src="images/fleamarket.jpg"></div>
  <div class="hide-on-med-and-down"><div class="fleamarketText">Front End Web Developer</div></div>
</div>

 <div class="worksection" id="workID">
    <div class="row container">
      <h2 class>Work</h2>
      <div class="portfolio">
      <ul class="row">

        <li class="col l4 m6"><a class="modal-trigger" href="#modal1"><div class="text"><h2>Setup</h2><p>A Video Dating App where friends set you up</p></div><img src="images/setup.png" width="400" height="300"></a></li>

        <li class="col l4 m6"><a class="modal-trigger" href="#modal2"><div class="text"><h2>Qpic</h2><p>An image guessing game</p></div><img src="images/Qpic.png" width="400" height="300"></a></li>

        <li class="col l4 m6"><a class="modal-trigger" href="#modal3"><div class="text"><h2>To Do List</h2><p>A simple to do list organizer</p></div><img src="images/todolist.png" height="300"></a></li>

        <li class="col l4 m6"><a class="modal-trigger" href="#modal4"><div class="text"><h2>A Really Trendy Restaurant</h2><p>Website for a fictitious restaurant</p></div><img src="images/trendyrestaurant.png" width="400" height="300"></a></li>

        <li class="col l4 m6"><a class="modal-trigger" href="#modal5"><div class="text"><h2>Blog Timeline</h2><p>A responsive blog timeline</p></div><img src="images/blogtimeline.png" height="300"></a></li>

        <li class="col l4 m6"><a class="modal-trigger" href="#modal6"><div class="text"><h2>Etsy Clone</h2><p>A clone of an Etsy search results page</p></div><img src="images/etsyclone.png" width="400" height="300"></a></li>

        <li class="col l4 m6"><a class="modal-trigger" href="#modal7"><div class="text"><h2>Website Clone</h2><p>A clone of Surf and Paddle Co website</p></div><img src="images/surfandpaddle.png" height="300"></a></li>

        <li class="col l4 m6"><a class="modal-trigger" href="#modal8"><div class="text"><h2>Dog House</h2><p>A Doggie Hotel</p></div><img src="images/doghouse2.png" width="380" height="300"></a></li>

        <li class="col l4 m6"><a class="modal-trigger" href="#modal9"><div class="text"><h2>Contact List</h2><p>A contacts organizer</p></div><img src="images/contactlist.png" height="300"></a></li>

      </ul>
      </div>
    </div>
  </div> <!-- end of worksection div -->

  <div class="parallax-container">
    <div class="parallax"><img src="images/vans.jpg"></div>
  </div>

    <h2 class="skillsh2" id="skillsID">Skills</h2>
<div class="skillssection">
  <div class="row container">
    <div class="col l4 m8 s12">
    <div class="thing-container">
      <div class="thing">
      <div class="foo"><img src="images/html-css-logo.png" width="200" height="200"></div>
      <div class="foo back"><ul><li>HTML</li><li>CSS</li><li>SASS</li><li>Materialize</li><li>Foundation</li><li>Bourbon/Neat</li></ul></div>
      </div>
    </div>
    </div>

    <div class="col l4 m8 s12">
    <div class="thing-container">
      <div class="thing">
      <div class="foo"><img src="images/javascript.png" width="200" height="200" style="border-radius:5px"></div>
      <div class="foo back"><ul><li>Angular</li><li>Backbone</li><li>Underscore</li><li>Handlebars</li><li>jQuery</li><li>Javascript</li></ul></div>
      </div>
    </div>
    </div>

    <div class="col l4 m8 s12">
    <div class="thing-container">
      <div class="thing">
      <div class="foo"><img src="images/git_logo.png" width="200" height="200"></div>
      <div class="foo back"><ul><li>Parse</li><li>Sublime Text</li><li>Git</li><li>Bower</li><li>Gulp</li><li>NPM</li></ul></div>
      </div>
    </div>
    </div>

  </div>
</div>

  <div class="parallax-container">
    <div class="parallax"><img src="images/oregoncoast.jpg"></div>
  </div>


<div class="aboutsection" id="aboutID">
  <div class="row container">
    <h2>About</h2>

    <div class="col l3 m12 s12">
      <div class="imageBorder">
        <img class="rosie" src="images/jamierosie.jpg" width="200" height="200" style="border-radius:50%" alt="rosie">
      </div>
    </div>

    <div class="col l6 m12 s12">
      <div class="aboutInfo">
        <p>I have a can-do attitude! I enjoy a good challenge and get very excited about a beautiful, functional, meaningful product. When I'm not writing code, I also like to travel, read, go camping, dancing, sip on craft cocktails and spend time with my boyfriend and my two wild kids.</p>
      </div>
    </div>

    <div class="col l3 m12 s12">
      <div class="kids">
        <img class="kids" src="images/jamiekids.jpg" width="200" height="200" style="border-radius:50%" alt="kids">
      </div>
    </div>

  </div>
</div> <!--end of aboutsection div -->





<div class="parallax-container">
  <div class="parallax">
  <img class="newyorkImage" src="images/newyork.jpg"></div>





  <div class="contactText">
  <div class="email"><a href="mailto:jamiemgamblin@gmail.com">jamiemgamblin@gmail.com</a></div>
  <div class="github"><a href="https://github.com/JamieUdaho">github</a></div>
  <div class="linkedin"><a href="https://www.linkedin.com/pub/jamie-gamblin/5a/b7/189">linkedin</a></div>
  <div class="twitter"><a href="https://twitter.com/JamieGamblin">twitter</a></div>
  <div class="blog"><a href="https://medium.com/@jamiegamblin">blog</a></div>
  </div>
</div><!-- end of contactText -->





<div class="modal" id="modal1">
<div class="modal-content">
  <h3 class="center">Setup</h3>
  <p class="center">A video dating website. A new way to date where your friends and family set you up! This was a group project with 2 RoR Developers and an iOS Developer. Backend was a custom RoR API.</p>
  <div class="modalimg"><img src="images/setup.png" width="300" height="auto"/></div>
  <div class="modalimg"><img src="images/setupsearch.png" width="300" height="auto"/></div>
  <div class="modalimg"><img src="images/setupvideos.png" width="300" height="auto"/></div>
  <!-- <h5>Build Tools on this Project</h5> -->
  <div class="buildtools">
  <table class="striped">
    <thead>
      <tr>
        <th>CSS/HTML</th>
        <th>JavaScript</th>
        <th>Workflow</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Materialize</td>
        <td>Angular</td>
        <td>Bower</td>
      </tr>
      <tr>
        <td>SASS</td>
        <td>Underscore</td>
        <td>Gulp</td>
      </tr>
      <tr>
        <td>Bourbon/Neat</td>
        <td>jQuery</td>
        <td>Git</td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="modal-footer">
    <a href="https://github.com/thesetup/theSetup-FE" class=" modal-action modal-close waves-effect waves-green btn-flat">View Code on GitHub</a>
    <a href="http://development.tiy-thesetup.divshot.io/#/" class=" modal-action modal-close waves-effect waves-green btn-flat">View Live Version</a>
  </div>
</div>
</div><!-- end of modal1 -->



<div class="modal" id="modal2">
<div class="modal-content">
  <h3 class="center">Qpic</h3>
  <p class="center">An image guessing game where users upload images with clues as to what the image is. Other users guess and recieve points for correct guesses. Leaderboard feature also tracks win percentages. This was a group project with 2 RoR Developers and 2 additional JS Developers. Backend was a custom RoR API.</p>
  <div class="modalimg"><img src="images/qpic.png" width="300" height="auto"/></div>
  <div class="modalimg"><img src="images/qpicsingle.png" width="300" height="auto"/></div>
  <div class="modalimg"><img src="images/qpicleaderboard.png" width="300" height="auto"/></div>
  <!-- <h5>Build Tools on this Project</h5> -->
  <div class="buildtools">
  <table class="striped">
    <thead>
      <tr>
        <th>CSS/HTML</th>
        <th>JavaScript</th>
        <th>Workflow</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Foundation</td>
        <td>Backbone</td>
        <td>Bower</td>
      </tr>
      <tr>
        <td>SASS</td>
        <td>Handlebars</td>
        <td>Gulp</td>
      </tr>
      <tr>
        <td>Bourbon/Neat</td>
        <td>jQuery</td>
        <td>Git</td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="modal-footer">
    <a href="https://github.com/Group-4/JS" class=" modal-action modal-close waves-effect waves-green btn-flat">View Code on GitHub</a>
    <a href="http://development.tiy-qpic.divshot.io/#leaderboard" class=" modal-action modal-close waves-effect waves-green btn-flat">View Live Version</a>
  </div>
</div>
</div>



<div class="modal" id="modal3">
<div class="modal-content">
  <h3 class="center">To Do List</h3>
  <p class="center">A simple To Do List organizer where user can enter items and mark them complete once completed. List also keep continual count of items still to do.</p>
  <div class="modalimg"><img src="images/todolist.png" width="300" height="auto"/></div>
  <div class="modalimg"><img src="images/todolist1.png" width="300" height="auto"/></div>
  <div class="modalimg"><img src="images/todolist2.png" width="300" height="auto"/></div>
  <!-- <h5>Build Tools on this Project</h5> -->
  <div class="buildtools">
  <table class="striped">
    <thead>
      <tr>
        <th>CSS/HTML</th>
        <th>JavaScript</th>
        <th>Workflow</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>HTML</td>
        <td>Underscore</td>
        <td>Bower</td>
      </tr>
      <tr>
        <td>SASS</td>
        <td>Handlebars</td>
        <td>Gulp</td>
      </tr>
      <tr>
        <td>Bourbon/Neat</td>
        <td>jQuery</td>
        <td>Git</td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="modal-footer">
    <a href="https://github.com/JamieUdaho/assignment15-todolist" class=" modal-action modal-close waves-effect waves-green btn-flat">View Code on GitHub</a>
    <a href="http://development.jamie-tiy-todolist.divshot.io/" class=" modal-action modal-close waves-effect waves-green btn-flat">View Live Version</a>
  </div>
</div>
</div>


<div class="modal" id="modal4">
<div class="modal-content">
  <h3 class="center">A Really Trendy Restaurant</h3>
  <p class="center">A single page website for a fictitious restaurant using a static API and googlemaps API. This was a group project with 3 additional JS Developers.</p>
  <div class="modalimg"><img src="images/trendyrestaurant.png" width="300" height="auto"/></div>
  <div class="modalimg"><img src="images/trendy1.png" width="300" height="auto"/></div>
  <div class="modalimg"><img src="images/trendy2.png" width="300" height="auto"/></div>
  <!-- <h5>Build Tools on this Project</h5> -->
  <div class="buildtools">
  <table class="striped">
    <thead>
      <tr>
        <th>CSS/HTML</th>
        <th>JavaScript</th>
        <th>Workflow</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>HTML</td>
        <td>Underscore</td>
        <td>Bower</td>
      </tr>
      <tr>
        <td>SASS</td>
        <td>Vanilla JavaScript</td>
        <td>Gulp</td>
      </tr>
      <tr>
        <td>Bourbon/Neat</td>
        <td>jQuery</td>
        <td>Git</td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="modal-footer">
    <a href="http://jjoyave1.github.io/Trendy-restaurant/" class=" modal-action modal-close waves-effect waves-green btn-flat">View Code on GitHub</a>
    <a href="http://jjoyave1.github.io/Trendy-restaurant/" class=" modal-action modal-close waves-effect waves-green btn-flat">View Live Version</a>
  </div>
</div>
</div>


<div class="modal" id="modal5">
<div class="modal-content">
  <h3 class="center">Blog Timeline</h3>
  <p class="center">A responsive clone of a blog timeline using static API.</p>
  <div class="modalimg"><img src="images/blogtimeline.png" width="300" height="auto"/></div>
  <div class="modalimg"><img src="images/blogtimeline1.png" width="300" height="auto"/></div>
  <div class="modalimg"><img src="images/blogtimeline2.png" width="300" height="auto"/></div>
  <!-- <h5>Build Tools on this Project</h5> -->
  <div class="buildtools">
  <table class="striped">
    <thead>
      <tr>
        <th>CSS/HTML</th>
        <th>JavaScript</th>
        <th>Workflow</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>HTML</td>
        <td>Handlebars</td>
        <td>Bower</td>
      </tr>
      <tr>
        <td>SASS</td>
        <td>Moment.js</td>
        <td>Gulp</td>
      </tr>
      <tr>
        <td>Bourbon/Neat</td>
        <td>jQuery</td>
        <td>Git</td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="modal-footer">
    <a href="https://github.com/JamieUdaho/assignment13-handlebar-timeline" class=" modal-action modal-close waves-effect waves-green btn-flat">View Code on GitHub</a>
    <a href="http://jamieudaho.github.io/assignment13-handlebar-timeline/" class=" modal-action modal-close waves-effect waves-green btn-flat">View Live Version</a>
  </div>
</div>
</div>


<div class="modal" id="modal6">
<div class="modal-content">
  <h3 class="center">Etsy Clone</h3>
  <p class="center">A clone of an Etsy Search Results page using a static API.</p>
  <div class="modalimg"><img src="images/etsyclone.png" width="300" height="auto"/></div>
  <div class="modalimg"><img src="images/etsy1.png" width="300" height="auto"/></div>
  <div class="modalimg"><img src="images/etsy2.png" width="300" height="auto"/></div>
  <!-- <h5>Build Tools on this Project</h5> -->
  <div class="buildtools">
  <table class="striped">
    <thead>
      <tr>
        <th>CSS/HTML</th>
        <th>JavaScript</th>
        <th>Workflow</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>HTML</td>
        <td>Handlebars</td>
        <td>Bower</td>
      </tr>
      <tr>
        <td>SASS</td>
        <td>Moment.js</td>
        <td>Gulp</td>
      </tr>
      <tr>
        <td>Bourbon/Neat</td>
        <td>jQuery</td>
        <td>Git</td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="modal-footer">
    <a href="https://github.com/JamieUdaho/assignment10" class=" modal-action modal-close waves-effect waves-green btn-flat">View Code on GitHub</a>
    <a href="http://jamieudaho.github.io/assignment10/" class=" modal-action modal-close waves-effect waves-green btn-flat">View Live Version</a>
  </div>
</div>
</div>


<div class="modal" id="modal7">
<div class="modal-content">
  <h3 class="center">Website Clone</h3>
  <p class="center">A clone of a website using only a png image as reference.</p>
  <div class="modalimg"><img src="images/surfandpaddle.png" width="300" height="auto"/></div>
  <div class="modalimg"><img src="images/surfandpaddle1.png" width="300" height="auto"/></div>
  <div class="modalimg"><img src="images/surfandpaddle2.png" width="300" height="auto"/></div>
  <!-- <h5>Build Tools on this Project</h5> -->
  <div class="buildtools">
  <table class="striped">
    <thead>
      <tr>
        <th>CSS/HTML</th>
        <th>JavaScript</th>
        <th>Workflow</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>HTML</td>
        <td>Vanilla JavaScript</td>
        <td>Git</td>
      </tr>
      <tr>
        <td>CSS</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>SASS</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="modal-footer">
    <a href="https://github.com/JamieUdaho/assignment3" class=" modal-action modal-close waves-effect waves-green btn-flat">View Code on GitHub</a>
    <a href="http://jamieudaho.github.io/assignment3/" class=" modal-action modal-close waves-effect waves-green btn-flat">View Live Version</a>
  </div>
</div>
</div>


<div class="modal" id="modal8">
<div class="modal-content">
  <h3 class="center">Dog House</h3>
  <p class="center">A simple Doggie Hotel website where users can make a reservation for their dog and track what dogs are currently at the Dog House. Practice using Angular routes and views.</p>
  <div class="modalimg"><img src="images/doghouse2.png" width="300" height="auto"/></div>
  <div class="modalimg"><img src="images/doghouse.png" width="300" height="auto"/></div>
  <div class="modalimg"><img src="images/doghouse3.png" width="300" height="auto"/></div>
  <!-- <h5>Build Tools on this Project</h5> -->
  <div class="buildtools">
  <table class="striped">
    <thead>
      <tr>
        <th>CSS/HTML</th>
        <th>JavaScript</th>
        <th>Workflow</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Foundation</td>
        <td>Angular</td>
        <td>Git</td>
      </tr>
      <tr>
        <td>SASS</td>
        <td>Underscore</td>
        <td>Bower</td>
      </tr>
      <tr>
        <td></td>
        <td>jQuery</td>
        <td>Gulp</td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="modal-footer">
    <a href="https://github.com/JamieUdaho/The-Dog-House" class=" modal-action modal-close waves-effect waves-green btn-flat">View Code on GitHub</a>
    <a href="http://development.tiy-dog-house.divshot.io/#/" class=" modal-action modal-close waves-effect waves-green btn-flat">View Live Version</a>
  </div>
</div>
</div>


<div class="modal" id="modal9">
<div class="modal-content">
  <h3 class="center">Who You Know</h3>
  <p class="center">A contact list organizer.</p>
  <div class="modalimg"><img src="images/contactlist.png" width="300" height="auto"/></div>
  <div class="modalimg"><img src="images/contactlist1.png" width="300" height="auto"/></div>
  <div class="modalimg"><img src="images/contactlist2.png" width="300" height="auto"/></div>
  <!-- <h5>Build Tools on this Project</h5> -->
  <div class="buildtools">
  <table class="striped">
    <thead>
      <tr>
        <th>CSS/HTML</th>
        <th>JavaScript</th>
        <th>Workflow</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Foundation</td>
        <td>Backbone</td>
        <td>Git</td>
      </tr>
      <tr>
        <td>SASS</td>
        <td>Underscore</td>
        <td>Parse</td>
      </tr>
      <tr>
        <td>Bourbon/Neat</td>
        <td>Handlebars</td>
        <td>Bower</td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="modal-footer">
    <a href="https://github.com/JamieUdaho/assignment19-contactlist" class=" modal-action modal-close waves-effect waves-green btn-flat">View Code on GitHub</a>
    <a href="http://development.tiy-jamiegamblin-contactlist.divshot.io/" class=" modal-action modal-close waves-effect waves-green btn-flat">View Live Version</a>
  </div>
</div>
</div>


</div> <!-- end of homeView div -->











