<div class="homeView" ui-view>

<div class="parallax-container">
  <div class="parallax"><img src="images/fleamarket.jpg"></div>
</div>

 <div class="worksection">
    <div class="row container">
      <h2 class>Work</h2>

    </div>
  </div> <!-- end of worksection div -->

  <div class="parallax-container">
    <div class="parallax"><img src="images/vans.jpg"></div>
  </div>

<div class="aboutsection">
  <div class="row container">
    <h2>About</h2>
    <div class="imageBorder"><img class="rosie" src="images/jamierosie.jpg" width="200" height="200" style="border-radius:50%" alt="rosie"></div>
    <div class="aboutInfo">
      <p>I have a can-do attitude! I enjoy a good challenge and get very excited about a beautiful, functional, meaningful product. When I'm not writing code, I also like to travel, read, go camping, dancing, sip on craft cocktails and spend time with my boyfriend and my two wild kids.</p>
      <img class="kids" src="images/jamiekids.jpg" width="200" height="200" style="border-radius:50%" alt="kids">
    </div>
  </div>
</div> <!--end of aboutsection div -->

<div class="parallax-container">
  <div class="parallax">
  <img class="newyorkImage" src="images/newyork.jpg"></div>

  <div class="contactText"><span class="contactMe"> Contact Me </span>
  <div class="email"><a href="#">jamiemgamblin@gmail.com</a></div>
  <div class="github"><a href="#">github</a></div>
  <div class="linkedin"><a href="#">linkedin</a></div>
  <div class="twitter"><a href="#">twitter</a></div>
  <div class="blog"><a href="#">blog</a></div>
  </div>
</div>

</div> <!-- end of homeView div -->











