@import "bourbon/bourbon";
@import "neat/neat";

$cursiveFont:'Lobster', cursive;
$roboto:'Roboto', sans-serif;
$coral: #D05F5C;
$peach: #DAA766;
$bluegreen: #78A5A3;
$gray: #43485B;


nav {
    background-color: $gray;
    font-family: $cursiveFont;
    font-size: 30px;
  a {
    padding: 10px;
    font-size: 24px;
  }
}

.container {
  width: 100%;
  overflow: hidden;
}

.spanTop {
  color: $bluegreen;
  font-family: $cursiveFont;
  font-size: 54px;
  padding-left: 5px;
  display: block;
  margin-bottom: 15px;
  display: inline-block;
    }

.spanBottom {
  color: $bluegreen;
  font-family: $cursiveFont;
  font-size: 54px;
  padding-left: 5px;
  margin-top: 15px;
  display: inline-block;
}

.worksection {
  background-color: white;
  color: $peach;
  padding-left: 50px;
  font-family: $cursiveFont;

  p {
    color: white;
    font-family: $roboto;
  }
}

.aboutsection {
  background-color: white;
  color: $coral;
  padding-left: 50px;
  font-family: $cursiveFont;
}

.imageBorder {
  display: inline-block;
  float: left;
  @include span-columns(3);
}

.imageBorder img {
  object-fit: cover;
  zoom: 125%;
}

.aboutInfo {
  font-family: $roboto;
  display: inline-block;
  @include span-columns(9);
  margin-top: 25px;
}

.aboutInfo img {
  object-fit: cover;
  float: right;
  zoom: 125%;
}


header {
  width: 100%;
  background-color: white;
  padding: 25px;

}

footer {
  width: 100%;
  background-color: $gray;
  color: white;
  padding: 25px;
}
