@import "bourbon/bourbon";
@import "neat/neat";

$cursiveFont:'Lobster', cursive;
$roboto:'Roboto', sans-serif;
$headerFont:'Cinzel', serif;
$coral: #D05F5C;
$peach: #DAA766;
$bluegreen: #78A5A3;
$gray: #43485B;


nav {
    background-color: $bluegreen;
    font-family: $headerFont;
    font-size: 30px;
  a {
    padding: 10px;
    font-size: 24px;
    text-shadow: 3px 3px 5px $gray;

  }

  .navText {
    float: right;
    margin-right: 25px;
  }
}

.container {
  width: 100%;
  overflow: hidden;
}

.spanTop {
  color: white;
  font-family: $headerFont;
  font-size: 40px;
  padding-left: 15px;
  display: block;
  margin-bottom: 15px;
  display: inline-block;
  text-shadow: 3px 3px 5px $gray;
  margin-top: 0;
  margin-bottom: 0;
}

.spanBottom {
  color: white;
  font-family: $headerFont;
  font-size: 40px;
  padding-left: 5px;
  margin-top: 15px;
  display: inline-block;
  text-shadow: 3px 3px 5px $gray;
  margin-top: 0;
  margin-bottom: 0;
}

.worksection {
  background-color: white;
  color: $peach;
  padding: 25px;
  font-family: $headerFont;
}

.portfolio li {
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-out;
  background: rgba(255,255,255,0.3);
}

.portfolio img {
  object-fit: fill;
  padding: 50px;
  display: block;
  vertical-align: middle;
  transition: all 0.2s ease;
  opacity: 0.3;
}

 .text {
  margin: 0;
  position: absolute;
  top: 30%;
  text-align: center;
  z-index: 20;
  bottom: 0;
  left: 10%;
  right: 0;
  width: 80%;
  padding: 0 10%;
  margin: 0;
  transition: all 0.3s ease;
  font-size: 24px;
  font-weight: bold;
}

.portfolio h2 {
  color: $gray;
  border-bottom: 2px solid $gray;
  font-size: 30px;
}

.portfolio p {
  color: $gray;
  font-size: 18px;
  font-family: $headerFont;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $gray;
  transition: opacity 0.15s ease-out;
  backface-visibility: hidden;
  }

  .portfolio li:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    img {
      transform: scale(1.2);
      opacity: 1.0;
    }

    .text {
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }

.skillssection {
  color: $bluegreen;
  font-family: $headerFont;
  padding-left: 50px;
}


.aboutsection {
  background-color: white;
  color: $coral;
  padding-left: 50px;
  font-family: $headerFont;
}

.imageBorder {
  display: inline-block;
  float: left;
  @include span-columns(3);
}

.imageBorder img {
  object-fit: cover;
  zoom: 125%;
}

.aboutInfo {
  font-family: $roboto;
  display: inline-block;
  @include span-columns(9);

  p {
    float: left;
    width: 65%;
    margin-top: 50px;
  }
}

.aboutInfo img {
  object-fit: cover;
  float: right;
  zoom: 125%;
  margin-right: 25px;
}

.contactText {

  margin-top: 625px;
  padding-left: 25px;
  @include outer-container;

  a {
  text-decoration: none;
  color: white;
  font-family: $headerFont;
  font-size: 22px;
  display: inline-block;
  text-shadow: 2px 1px black;
  }


  .contactMe {
    color: white;
    font-family: $headerFont;
    font-size: 50px;
  }

  .email {
    position: relative;
    padding-left: 35px;
    display: inline-block;
    margin-right: 30px;
  }

  .email::before {
    position: absolute;
    font-family: FontAwesome;
    content: '\f003';
    color: $coral;
    left: 0;
    font-size: 25px;
  }

  .github {
    position: relative;
    padding-left: 35px;
    display: inline-block;
    margin-right: 30px;
  }

  .github::before {
    position: absolute;
    font-family: FontAwesome;
    content: '\f113';
    color: $coral;
    left: 0;
    font-size: 25px;
  }

  .linkedin {
    position: relative;
    padding-left: 35px;
    display: inline-block;
    margin-right: 30px;
  }

  .linkedin::before {
    position: absolute;
    font-family: FontAwesome;
    content: '\f08c';
    color: $coral;
    left: 0;
    font-size: 25px;
  }

  .twitter {
    position: relative;
    padding-left: 35px;
    display: inline-block;
    margin-right: 30px;
  }

  .twitter::before {
    position: absolute;
    font-family: FontAwesome;
    content: '\f099';
    color: $coral;
    left: 0;
    font-size: 25px;
  }

  .blog {
    position: relative;
    padding-left: 35px;
    display: inline-block;
  }

  .blog::before {
    position: absolute;
    font-family: FontAwesome;
    content: '\f23a';
    color: $coral;
    left: 0;
    font-size: 25px;
  }
}

.parallax-container {
  height: 700px;
}


footer {
  width: 100%;
  background-color: $gray;
  color: white;
  padding: 25px;
}
